.graph1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  background-color: burlywood;
  margin: 10px;
}
.topbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}
.topbar div {
  background-color: aquamarine;
  height: 2rem;
  flex: 1;
  margin-bottom: 1rem;
  margin-right: 10px;
}
.topbar div:nth-child(3) {
  margin-right: 0px;
}
.maincontent {
  background-color: yellow;
  height: 6rem;
}
