.mainsidebar {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: rgb(184, 184, 241);
  box-sizing: border-box;
  padding-inline: 20px;
}
.sideavatar {
  display: flex;
  align-self: center;
}
.sideitems {
  display: flex;
  flex-direction: column;

  flex: 1;
}
.sideitems div {
  background-color: rgb(241, 208, 165);
  height: 30px;
  margin-bottom: 10px;
}
.logout {
  margin-bottom: 20px;
  background-color: cornflowerblue;
  height: 20px;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: rgb(230, 230, 230);
  }
  .mainsidebar {
    display: none;
  }
}
